@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap');

html,
body {
  font-family: 'Lexend', sans-serif;
}

.canvas-light {
  position: absolute;
  width: 100vw; 
  height: 100vh;
  z-index: -1;
}

.canvas-dark {
  position: absolute; 
  width: 100vw; 
  height: 100vh;
  z-index: -1;
}