@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap');

html,
body {
  font-family: 'Lexend', sans-serif;
}

::selection {
  background-color: #54ebe3;
  color: #000;
}

.canvas-light {
  position: fixed;
  width: 100vw; 
  height: 100vh;
  z-index: -3;
}

.canvas-dark {
  position: fixed; 
  width: 100vw; 
  height: 100vh;
  z-index: -3;
}

@media (max-width: 992px){
  .main-outer-box{
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (min-width: 992px) {
  .main-outer-box{
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (min-width: 1425px) {
  .main-outer-box{
    padding-left: 15%;
    padding-right: 15%;
  }
}

.main-inner-box-dark {
  background-color: rgba(255, 255, 255, 0.1);
  /* box-shadow: 5px 5px 25px 10px rgba(255, 255, 255, 0.25), -5px -5px 25px 10px rgba(255, 255, 255, 0.22); */
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.main-inner-box-light {
  background-color: rgba(0, 0, 0, 0.1);
  /* box-shadow: 5px 5px 25px 10px rgba(0, 0, 0, 0.25), -5px -5px 25px 10px rgba(0, 0, 0, 0.22); */
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.nav-dark {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.nav-light {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.link {
 display: inline-block;
 position: relative;
}

.link::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  transition: width 0.25s ease-in-out;
}

.link:hover::before {
  opacity: 1;
  width: 100%;
  left: 0;
  right: auto;
}

.link-dark::before {
  background-color: #fff;
}

.link-light::before {
  background-color: black;
}